<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather_tag.png">
        <link rel='stylesheet' href = '/css/styles.css'>
    </head>


    <body>
        <div class = "main_content">
            {{>header}}
            <p>This site uses weather data from weather weatherstack api when provided the location.</p>
            <p>This site also uses mapbox api for geolocation, it converts the location string into coordinates for that location.</p>
            <img class = "portrait" src = "/img/mtn.jpeg">
        </div>
        {{>footer}}
    </body>

</html> 